
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;

  .add-transaction-modal {
    z-index: 11;
    width: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding-top: 10px;

    &_header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      h1 {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
        color: #373737;
      }

      .close-btn {
        position: absolute;
        top: 8px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    &_body {
      padding: 20px 15px;

      input, select, textarea {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #373737;
        outline: none;
        border-radius: 4px;
        padding: 2px 4px;
        background-color: #F1EEEE;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.182);
      }

      .form-group {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #373737;
        display: flex;
        align-items: center;
        margin-top: 20px;
      }

      .form-group:first-child {

        label {
          display: flex;
          align-items: center;
          flex: 1;
          margin-right: 10px;

          span {
            margin-left: 5px;
          }

          input {
            box-shadow: none;
          }
        }

        ng-multiselect-dropdown {
          flex: 6;
        }
      }

      .title {
        label {
          margin-right: auto;
        }

        input {
          width: 400px;
        }
      }

      mat-error {
        font-family: 'Alata';
        margin: 5px 0;
      }

      .error-input {
        border: 2px solid red;
      }

      .error-description {
        border: 2px solid red;
      }

      .amount, .date {
        label {
          margin-right: 15px;
        }

        input {
          width: 150px;
        }
      }

      .description {
        align-items: start;


        label {
          margin-right: auto;
        }

        textarea {
          resize: none;
          width: 340px;
          height: 100px;
        }
      }

      .buttons-wrapper {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          background: none;
          border: none;
          padding: 8px 15px;
          font-family: 'Alata';
          color: #fff;
          font-size: 18px;
          border-radius: 3px;
          cursor: pointer;
        }

        .save-btn {
          margin-left: 20px;
          background-color: green;
        }

        .disabled {
          cursor: not-allowed;
          background-color: rgb(0, 128, 0, 0.5);
        }

        .cancel-btn {
          background-color: red;
        }
      }

    }
  }
}

.active {
  display: flex;
}
