
<div class="container" [class.active]="isOpenAddTransactionModal">
  <div class="add-transaction-modal">
    <div class="add-transaction-modal_header">
      <h1>Create Transaction</h1>
      <button class="close-btn" (click)="closeAddTransactionModal.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="add-transaction-modal_body">
      <form [formGroup]="transactionForm" (ngSubmit)="onTransactionSubmit()">
        <div class="form-group">
          <label>
            <input
              type="radio"
              name="transactionType"
              formControlName="transactionType"
              value="income"
              (change)="changeTransactionType.emit('income')"
            >
            <span>income</span>
          </label>
          <label>
            <input
              type="radio"
              name="transactionType"
              formControlName="transactionType"
              value="expense"
              (change)="changeTransactionType.emit('expense')"
            >
            <span>expense</span>
          </label>
          <ng-multiselect-dropdown
            [placeholder]="'Choose categories'"
            [settings]="dropdownSettings"
            [data]="categories"
            formControlName="categories"
            name="categories"
            [class.error-input]="transactionForm.get('categories')?.hasError('required')"
          >
          </ng-multiselect-dropdown>
        </div>
        <mat-error *ngIf="transactionForm.get('categories')?.hasError('required')">Transaction category must be selected</mat-error>
        <div class="form-group title">
          <label>Title *</label>
          <input
            type="text"
            formControlName="title"
            name="title"
            [ngClass]="{'error-input': transactionForm.get('title')?.hasError('required') || transactionForm.get('title')?.hasError('maxlength')}"
          >
        </div>
        <mat-error *ngIf="transactionForm.get('title')?.hasError('required')">Title is required</mat-error>
        <mat-error *ngIf="transactionForm.get('title')?.hasError('maxlength')">Maximum number of characters reached</mat-error>
        <div class="form-group amount">
          <label>Amount * </label>
          <input
            type="number"
            name="amount"
            formControlName="amount"
            min="0"
            onkeyup="if(this.value < 0) { this.value = this.value * -1 }">
        </div>
        <mat-error *ngIf="transactionForm.get('amount')?.hasError('required')">Transaction amount must be enetered</mat-error>
        <div class="form-group date">
          <label>Date *</label>
          <input type="date" formControlName="date" name="date" selected [(ngModel)]="currentDate">
        </div>
        <mat-error></mat-error>
        <div class="form-group description">
          <label>Description *</label>
          <textarea name="description" formControlName="description"
            [ngClass]="{'error-description': transactionForm.get('description')?.hasError('required') || transactionForm.get('description')?.hasError('maxlength')}"
          ></textarea>
        </div>
        <mat-error *ngIf="transactionForm.get('description')?.hasError('maxlength')">Maximum number of characters reached</mat-error>
        <div class="buttons-wrapper">
          <button class="cancel-btn" (click)="closeAddTransactionModal.emit()">Cancel</button>
          <button class="save-btn" type="submit" [class.disabled]="!transactionForm.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
