<div class="header-wrapper">
  <div class="header-wrapper_logo">
    <a routerLink="/">Budgetify</a>
  </div>
  <div class="header-wrapper_list">
    <ul>
      <li><a [routerLink]="['/categories']">Categories</a></li>
      <li><a [routerLink]="['/subscriptions']">Subscriptions</a></li>
      <li><a [routerLink]="['/obligatory']">Obligatory</a></li>
      <li><a [routerLink]="['/statistics']">Statistics</a></li>
      <li><a [routerLink]="['/admin']">Admin</a></li>
    </ul>
  </div>
  <div class="header-wrapper_profile">
    <button class="profile-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span class="profile-name">{{fullName}}</span>
  </div>
</div>
