.header-wrapper {
  height: 50px;
  display: flex;

  &_logo {
    width: 25%;
    display: flex;
    align-items: center;

    a {
      font-family: 'Alata';
      margin-left: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-decoration: none;
      color: black;
    }
  }

  &_list {
    width: 55%;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      justify-content: space-between;
      width: 100%;

      li {
        a {
          text-decoration: none;
          font-family: 'Space Grotesk';
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          color: #373737;
        }
      }
    }
  }

  &_profile {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .profile-btn {
      border: none;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .profile-name {
      font-family: 'Space Grotesk';
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #373737;
    }
  }
}
