<div class="header-wrapper">
  <div class="header-wrapper_logo">
    <a href="/">Budgetify</a>
  </div>
  <div class="header-wrapper_list">
    <ul>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/subscriptions">Subscriptions</a></li>
      <li><a href="/obligatory">Obligatory</a></li>
      <li><a href="/statistics">Statistics</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </div>
  <div class="header-wrapper_profile">
    <button class="profile-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span class="profile-name">{{fullName}}</span>
  </div>
</div>
