.verify-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;

  .verify-modal {
    z-index: 11;
    width: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;


    .header {
      display: flex;
      align-items: center;
      position: relative;

      h1 {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
        color: #373737;
      }

      .close-btn {
        position: absolute;
        top: 8px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .body {
      margin-top: 15px;
      margin-bottom: 15px;
      span {
        font-family: 'Space Grotesk';
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: #373737;
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        background: none;
        border: none;
        padding: 8px 15px;
        font-family: 'Alata';
        color: #fff;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
      }

      .verify-btn {
        margin-right: 20px;
        background-color: green;
      }

      .cancel-btn {
        background-color: red;
      }
    }
  }
}

.verify-modal-container-active {
  display: flex;
}
