<div class="container">
  <ul class="accounts-list">
    <p
      [class.active]="!accounts.length"
    >
      No accounts added yet
    </p>
    <li
      class="accounts-list_item"
      [class.selected]="account.isSelected"
      (click)="openViewAccountModal(account.id)"
      *ngFor="let account of accounts; let i = index;"
    >
      <h3 class="title">{{account.title}}</h3>
      <h1 class="amount">{{account.balance}}</h1>
      <span class="sign">{{account.currency}}</span>
    </li>
  </ul>
  <div class="add-account" [class.active]="!accounts.length" (click)="openAddAccountModal()">
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <span>Add Account</span>
  </div>
</div>

<div class="view-account-modal-container" [class.view-account-modal-container-active]="isOpenViewAccountModal">
  <div class="view-account" [class.active]="isOpenViewAccountModal">
    <div class="view-account_header">
      <span>Account Information</span>
      <button class="edit-btn">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="delete-btn">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="close-btn" (click)="closeViewAccountModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="view-account_body">
      <p>
        <span>Title: </span>
        <span>{{account.title}}</span>
      </p>
      <p>
        <span>Balance: </span>
        <span>{{account.balance}}</span>
      </p>
      <p>
        <span>currency: </span>
        <span>{{account.currency}}</span>
      </p>
      <p>
        <span>Description: </span>
        <span>{{account.description}}</span>
      </p>
    </div>
  </div>
</div>

<div class="add-account-modal-container" [class.add-account-modal-container-active]="isOpenAddAccountModal">
  <div class="add-account-modal">
    <div class="add-account-modal_header">
      <h1>Create Account</h1>
      <button class="close-btn" (click)="closeAddAccountModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="add-account-modal_body">
      <form
        class="add-account-modal_form"
        (ngSubmit)="addAccount()"
        [formGroup]="addAccountForm"
        name="addAccountForm"
      >
        <div class="form-group">
          <label>Title *</label>
          <input
            type="text"
            formControlName="title"
            name="title"
            [ngClass]="{errorInput: addAccountForm.get('title')?.hasError('required') || addAccountForm.get('title')?.hasError('maxlength')}"
          >
          <mat-error *ngIf="addAccountForm.get('title')?.hasError('required')">Title is required</mat-error>
          <mat-error *ngIf="addAccountForm.get('title')?.hasError('maxlength')">Maximum number of characters reached</mat-error>
        </div>
        <div class="form-group">
          <label>Currency *</label>
          <select formControlName="currency">
            <option value="0" disabled>Choose one</option>
            <option
              *ngFor="let currency of currencies"
              [ngValue]="currency.id"
              [attr.selected]="currency.isDefault ? true : null"
            >{{currency.title}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Description *</label>
          <textarea
            formControlName="description"
            name="description"
            [ngClass]="{'error-description': addAccountForm.get('description')?.hasError('maxlength')}"
          ></textarea>
          <mat-error *ngIf="addAccountForm.get('description')?.hasError('maxlength')">Maximum number of characters reached</mat-error>
        </div>
        <p class="create-account-error" [class.active]="isCreateAccountError">{{createAccountErrorMessage}}</p>
        <div class="buttons-wrapper">
          <button class="cancel-btn" (click)="closeAddAccountModal()">Cancel</button>
          <button class="save-btn" type="submit" [class.disabled]="!addAccountForm.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="toaster-message" [class.toaster-message-active]="toasterMessageStatus">
  <p>Account created successfully</p>
</div>
