.container {
  height: 100%;
  position: relative;

  .accounts-list {
    height: 100%;
    padding: 20px 15px;
    list-style-type: none;
    overflow-y: scroll;

    p {
      text-align: center;
      font-family: 'Space Grotesk';
      font-weight: 400;
      font-size: 20px;
      color: white;
      color: red;
      display: none;
    }

    .active {
      display: block;
    }

    &_item {
      margin-bottom: 30px;
      height: 170px;
      background-image: url('./../../../assets/accounts-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      cursor: pointer;
      font-family: 'Space Grotesk';
      font-weight: 400;
      padding: 15px;
      position: relative;
      opacity: 0.5;

      &:hover {
        box-shadow: none;
        transition: box-shadow 0.5s ease;
      }

      .title {
        font-size: 30px;
        line-height: 41px;
        color: #FFFFFF;
      }

      .amount {
        color: #FFFFFF;
        font-size: 35px;
        line-height: 50px;
        margin-top: 15px;
      }

      .sign {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 35px;
        line-height: 45px;
        color: #D376D7;
        padding: 5px;
        background-color: #fff;
        border-radius: 8px;
      }
    }

    .selected {
      opacity: 1;
    }
  }

  .add-account {
    position: absolute;
    width: 220px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    padding: 15px;
    background: rgb(249,111,122);
    background: linear-gradient(0deg, rgba(249,111,122,1) 0%, rgba(254,195,192,1) 100%);
    cursor: pointer;
    border-radius: 10px;

    button {
      border: none;
      font-size: 35px;
      font-weight: bold;
      background: none;
      color: white;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    span {
      font-family: 'Space Grotesk';
      font-weight: 400;
      font-size: 20px;
      color: white;
    }
  }

  .active {
    display: flex;
  }
}

.view-account-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 10;
  display: none;

  .view-account {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 30px;
    transform: translateX(100%);
    animation: fadeIn 1s;


    &_header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      span {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 41px;
        color: #373737;
        margin-right: auto;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        cursor: pointer;
        border: none;
        background: none;
      }
    }

    &_body {

      p {
        padding: 10px 0;
        display: flex;
        border-bottom: 1.5px solid #333333;

        &:last-child {
          border-bottom: none;
        }

        span:first-child {
          font-family: 'Space Grotesk';
          width: 40%;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          color: #373737;
        }

        span:last-child {
          font-family: 'Space Grotesk';
          width: 60%;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #373737;
        }
      }
    }
  }

  .active {
    transform: translateX(0);
  }
}

.view-account-modal-container-active {
  display: block;
}

@keyframes fadeIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.add-account-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;

  .add-account-modal {
    z-index: 11;
    width: 450px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding-top: 10px;

    &_header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      h1 {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
        color: #373737;
      }

      .close-btn {
        position: absolute;
        top: 8px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    &_body {
      padding: 20px 0 20px 0;

      form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          label {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #373737;
            margin-bottom: 5px;
          }

          input, select, textarea {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #373737;
            outline: none;
            border-radius: 4px;
            padding: 4px;
            background-color: #F1EEEE;
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.182);
          }

          .errorInput {
            border: 2px solid red;
          }

          .error-description {
            border: 2px solid red;
          }

          mat-error {
            font-family: 'Alata';
          }

          textarea {
            resize: none;
            height: 150px;
            font-size: 18px;
          }
        }

        .create-account-error {
          display: none;
          font-family: 'Alata';
          margin-top: 10px;
          color: red;
        }

        .active {
          display: block;
        }

        .buttons-wrapper {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          button {
            background: none;
            border: none;
            padding: 8px 15px;
            font-family: 'Alata';
            color: #fff;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer;
          }

          .save-btn {
            margin-left: 20px;
            background-color: green;
          }

          .disabled {
            cursor: not-allowed;
            background-color: rgb(0, 128, 0, 0.5);
          }

          .cancel-btn {
            background-color: red;
          }
        }
      }
    }
  }
}

.add-account-modal-container-active {
  display: flex;
}

.toaster-message {
  background-color: #fff;
  width: 500px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 15px;
  font-size: 20px;
  background-color: green;
  color: white;
  font-family: 'Alata';
  transform: translateX(calc(100% + 20px));
  transition: transform 1s ease;
}

.toaster-message-active {
  transform: translate(0);
  transition: transform 1s ease;
}
