<div class="container" [class.active]="isOpenAddAccountModal">
  <div class="add-account-modal">
    <div class="add-account-modal_header">
      <h1>Create Account</h1>
      <button class="close-btn" (click)="closeAddAccountModal.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="add-account-modal_body">
      <form
        class="add-account-modal_form"
        (ngSubmit)="addAccount()"
        [formGroup]="addAccountForm"
        name="addAccountForm"
      >
        <div class="form-group">
          <label>Title *</label>
          <input
            type="text"
            formControlName="title"
            name="title"
            [ngClass]="{errorInput: addAccountForm.get('title')?.hasError('required') || addAccountForm.get('title')?.hasError('maxlength')}"
          >
          <mat-error *ngIf="addAccountForm.get('title')?.hasError('required')">Title is required</mat-error>
          <mat-error *ngIf="addAccountForm.get('title')?.hasError('maxlength')">Maximum number of characters reached</mat-error>
        </div>
        <div class="form-group">
          <label>Currency *</label>
          <select formControlName="currency">
            <option value="0" disabled>Choose one</option>
            <option
              *ngFor="let currency of currencies"
              [ngValue]="currency.id"
              [attr.selected]="currency.isDefault ? true : null"
            >{{currency.title}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Description *</label>
          <textarea
            formControlName="description"
            name="description"
            [ngClass]="{'error-description': addAccountForm.get('description')?.hasError('maxlength')}"
          ></textarea>
          <mat-error
            *ngIf="addAccountForm.get('description')?.hasError('maxlength')"
          >Maximum number of characters reached</mat-error>
        </div>
        <p
          class="create-account-error"
          [class.active]="isCreateAccountError"
        >{{createAccountErrorMessage}}</p>
        <div class="buttons-wrapper">
          <button
            class="cancel-btn"
            (click)="closeAddAccountModal.emit()"
          >Cancel</button>
          <button
            class="save-btn"
            type="submit"
            [class.disabled]="!addAccountForm.valid"
          >Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
