<div class="container">
  <app-header></app-header>
  <div class="wrapper">
    <div class="categories-wrapper">
      <div class="search-wrapper">
        <input type="search" placeholder="Search">
        <mat-icon class="search-icon">search</mat-icon>
      </div>
      <ul class="categories-list">
        <li
          class="categories-item"
          *ngFor="let category of categories"
          [class.border-red]="category.type === 'expense'"
        >
          <span>{{category.title}}</span>
          <mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
        </li>
      </ul>
    </div>
    <div class="categories-filter-wrapper">
      <div class="income-category">
        <div class="icon-wrapper">
          <mat-icon class="expense-icon">arrow_downward</mat-icon>
        </div>
        <span class="title">Income</span>
      </div>
      <div class="expense-category">
        <div class="icon-wrapper">
          <mat-icon class="expense-icon">arrow_upward</mat-icon>
        </div>
        <span class="title">Expenses</span>
      </div>
      <div class="add-category">
        <div class="icon-wrapper">
          <mat-icon class="add-icon">add</mat-icon>
        </div>
        <span class="title">Add Category</span>
      </div>
    </div>
  </div>
</div>
