<app-accounts-list
  [accounts]="accounts"
  (openAddAccountModal)="openAddAccountModal()"
  (openViewAccountModal)="openViewAccountModal($event)"
></app-accounts-list>
<app-view-account
  [account]="account"
  [isOpenViewAccountModal]="isOpenViewAccountModal"
  (openVerifyModal)="openVerifyModal($event)"
  (closeViewAccountModal)="closeViewAccountModal()"
></app-view-account>
<app-add-account
  [currencies]="currencies"
  [isOpenAddAccountModal]="isOpenAddAccountModal"
  (getAccounts)="getAccounts()"
  (closeAddAccountModal)="closeAddAccountModal()"
></app-add-account>

<app-toaster-message></app-toaster-message>

<app-verify-modal
  [verifyModalStatus]="verifyModalStatus"
  (deleteAccount)="deleteAccount()"
  (closeVerifyModal)="closeVerifyModal()"
></app-verify-modal>
