.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.433);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;

  .add-subscription-modal {
    z-index: 11;
    width: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding-top: 10px;

    &_header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      h1 {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
        color: #373737;
      }

      .close-btn {
        position: absolute;
        top: 8px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    &_body {
      padding: 20px 0 20px 0;

      form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          label {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #373737;
            margin-bottom: 5px;
          }

          input, textarea {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #373737;
            outline: none;
            border-radius: 4px;
            padding: 4px;
            background-color: #F1EEEE;
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.182);
          }

          ng-multiselect-dropdown {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #373737;
            outline: none;
            border-radius: 4px;
            background-color: #F1EEEE;
          }

          .errorInput {
            border: 2px solid red;
          }

          .error-description {
            border: 2px solid red;
          }

          mat-error {
            font-family: 'Alata';
          }

          textarea {
            resize: none;
            height: 150px;
            font-size: 18px;
          }
        }

        .form-group:nth-child(3) {
          margin-top: 20px;

          .amount-wrapper {
            flex-direction: row;
            align-items: center;
          }

          label {
            margin-right: 15px;
          }
        }

        .form-group:nth-child(4) {
          justify-content: space-between;
          flex-direction: row;
          margin-top: 20px;

          .initial-date, .last-date {
            display: inline-flex;
            width: 48%;
            flex-direction: column;
          }
        }

        .create-subscription-error {
          display: none;
          font-family: 'Alata';
          margin-top: 10px;
          color: red;
        }

        .active {
          display: block;
        }

        .buttons-wrapper {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          button {
            background: none;
            border: none;
            padding: 8px 15px;
            font-family: 'Alata';
            color: #fff;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer;
          }

          .save-btn {
            margin-left: 20px;
            background-color: green;
          }

          .disabled {
            cursor: not-allowed;
            background-color: rgb(0, 128, 0, 0.5);
          }

          .cancel-btn {
            background-color: red;
          }
        }
      }
    }
  }
}

.active {
  display: flex;
}
