<div class="transactions-wrapper">
  <form class="search-form">
    <div class="search-wrapper">
      <input type="search" placeholder="Search">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="filter-wrapper">
      <mat-icon class="filter-icon">filter_list</mat-icon>
      <span>Transactions date</span>
    </div>
  </form>
  <ul class="transactions-list">
    <li class="transactions-list_item" *ngFor="let transaction of transactions;">
      <span class="category-name">{{transaction.categoryname}}</span>
      <div class="details">
        <h4 class="title">{{transaction.title}}</h4>
        <div class="details-wrapper">
          <span class="icon-wrapper" [ngClass]="{red: transaction.type === 'expense'}">
            <mat-icon class="category-icon">{{transaction.type === 'income' ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
          </span>
          <h4 class="category">{{transaction.type}}</h4>
          <span class="dot"></span>
          <p class="date">{{transaction.date}}</p>
        </div>
      </div>
      <p class="amount" [ngClass]="{'red-amount': transaction.type === 'expense'}">
        {{transaction.type === 'income' ? '' : '- '}}
        {{transaction.amount}} SOUM
      </p>
    </li>
  </ul>
</div>
