.transactions-wrapper {
  border: 1px solid red;
  height: 100%;
  padding: 30px 10px 0 10px;

  .search-form {

    .search-wrapper {
      position: relative;

      input {
        width: 100%;
        height: 45px;
        outline: none;
        font-size: 20px;
        background: #F9F9F9;
        font-family: 'Alata';
        border-radius: 10px;
        padding-left: 40px;
      }

      .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }
    }

    .filter-wrapper {
      display: flex;
      align-items: center;
      padding: 6px 12px;

      .filter-icon {
        margin-right: 10px;
        cursor: pointer;
      }

      span {
        font-family: 'Space Grotesk';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #474747;
      }
    }
  }

  .transactions-list {
    list-style-type: none;
    height: calc(100% - 100px);
    overflow: scroll;

    &_item {
      display: flex;
      padding: 12px;
      background: #F9F9F9;
      border-radius: 10px;
      margin-bottom: 15px;
      position: relative;

      .category-name {
        font-family: 'Space Grotesk';
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        justify-content: center;
        background: #ECEDED;
        border-radius: 10px;
        color: #373737;
        margin-right: 20px;
      }

      .details {
        width: 70%;

        .title {
          font-family: 'Space Grotesk';
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          color: #373737
        }

        .details-wrapper {
          display: flex;
          align-items: center;
          margin-top: 5px;
          font-family: 'Space Grotesk';
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #373737;

          .icon-wrapper {
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: green;
            border-radius: 50%;
            margin-right: 15px;

            .category-icon {
              color: #fff;
            }
          }

          .red {
            background-color: red;
          }

          .dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: black;
            margin-left: 15px;
            margin-right: 15px;
          }
        }
      }

      .amount {
        font-family: 'Space Grotesk';
        position: absolute;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #21C206;
        top: 10px;
        right: 10px;
      }

      .red-amount {
        color: red;
      }
    }
  }
}
