<div class="container">
  <app-header></app-header>
  <div class="wrapper">
    <app-accounts></app-accounts>
    <app-transactions-list
      [transactions]="transactions"
      (openViewTransactionModal)="openViewTransactionModal($event)"
    ></app-transactions-list>
    <app-right-sidebar
      [isAddAccountStatus]="isAddAccountStatus"
      [isAddTransactionStatus]="isAddTransactionStatus"
      (openAddAccountModal)="openAddAccountModal()"
      (openAddTransactionModal)="openAddTransactionModal()"
    ></app-right-sidebar>
  </div>
</div>

<app-view-transaction
  [transaction]="transaction"
  [categories]="currentTransactionCategories"
  [isOpenViewTransactionModal]="isOpenViewTransactionModal"
  (closeViewTransactionModal)="closeViewTransactionModal()"
></app-view-transaction>

<app-add-transaction
  [accountId]="accountId"
  [categories]="categories"
  [isOpenAddTransactionModal]="isOpenAddTransactionModal"
  (getTransactions)="getTransactions($event)"
  (changeTransactionType)="changeTransactionType($event)"
  (closeAddTransactionModal)="closeAddTransactionModal()"
></app-add-transaction>
