<div class="header-wrapper">
  <div class="header-wrapper_logo">
    <a routerLink="/">Budgetify</a>
  </div>
  <div class="header-wrapper_list">
    <ul>
      <li><a [routerLink]="['/categories']" [routerLinkActive]="'active'">Categories</a></li>
      <li><a [routerLink]="['/subscriptions']" [routerLinkActive]="'active'">Subscriptions</a></li>
      <li><a [routerLink]="['/statistics']" [routerLinkActive]="'active'">Statistics</a></li>
    </ul>
  </div>
  <div class="header-wrapper_profile">
    <span class="profile-name">{{fullName}}</span>
    <button class="profile-btn" (click)="hide = !hide">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>

<div class="more-wrapper" [class.active]="hide">
  <div class="profile">
    <mat-icon>person_pin</mat-icon>
    <span>Profile</span>
  </div>
  <div class="logout" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </div>
</div>