.container {
  padding: 30px;
  height: 100vh;
  background: #EFEFEF;
  position: relative;

  .wrapper {
    display: flex;
    height: calc(100% - 50px);

    app-accounts {
      flex: 1;
    }

    .stats-wrapper {
      flex: 3;
      padding: 60px;
    }
  }
}
