.wrapper {
  border: 1px solid red;
  height: 100%;
  padding-top: 30px;

  .top-wrapper {
    border: 1px solid red;

    .income-category, .expense-category, .add-account, .add-transaction {
      color: pointer;
      display: flex;
      align-items: center;
      border-radius: 10px;
      width: 300px;
      margin-left: auto;
      padding: 12px;
      cursor: pointer;

      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .title {
        font-family: 'Space Grotesk';
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
      }
    }

    .income-category, .expense-category {
      background: #F9F9F9;
      margin-bottom: 15px;

      .icon-wrapper {

        mat-icon {
          color: #fff;
        }
      }

      .title {
        color: #373737;
      }
    }

    .income-category {
      .icon-wrapper {
        background-color: green;
      }
    }

    .expense-category {
      .icon-wrapper {
        background-color: red;
      }
    }

    .add-account, .add-transaction {
      background: #B9E2E6;

      .icon-wrapper {
        background-color: #fff;

        mat-icon {
          color: #86C9CF;
        }
      }

      .title {
        color: #373737;
      }
    }

    .add-transaction {
      margin-bottom: 15px;
    }
  }
}
