<div class="wrapper">
  <div class="top-wrapper">
    <div class="income-category">
      <div class="icon-wrapper">
        <mat-icon class="expense-icon">arrow_downward</mat-icon>
      </div>
      <span class="title">Income</span>
    </div>
    <div class="expense-category">
      <div class="icon-wrapper">
        <mat-icon class="expense-icon">arrow_upward</mat-icon>
      </div>
      <span class="title">Expenses</span>
    </div>
    <div class="add-transaction">
      <div class="icon-wrapper">
        <mat-icon class="plus-icon">add</mat-icon>
      </div>
      <span class="title">Add Transaction</span>
    </div>
    <div class="add-account">
      <div class="icon-wrapper">
        <mat-icon class="plus-icon">add</mat-icon>
      </div>
      <span class="title">Add Account</span>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="add-piggy-bank">
      <img src="./../../../assets/piggy-bank.svg" alt="piggy-bank" class="piggy-bank" width="35px">
      <span>Add Piggy Bank</span>
    </div>
    <ul class="piggy-bank-list">
      <li class="piggy-bank-item">
        <span></span>
      </li>
    </ul>
  </div>
</div>
